<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">

    <!--home.html-->
    <!--handjs 用来处理事件补获  mouseenter不够准确 改为pointenter 顺便解决兼容问题setPointerCapture-->
    <script th:src="@{js/handjs/hand.js}" type="text/javascript"></script>
    <script th:src="@{js/mdirection.js}" type="text/javascript"></script>

    <!--publish.html-->
    <!--ace是编辑器 marked是可以将markerdown内容转为m文本-->
    <script th:src="@{js/highlightjs/highlight.js}" type="text/javascript"></script>
    <script th:src="@{js/marked.js}" type="text/javascript"></script>
    <script th:src="@{js/acejs/ace.js}" type="text/javascript"></script>
    <script th:src="@{js/acejs/theme-chrome.js}" type="text/javascript"></script>
    <script th:src="@{js/acejs/mode-markdown.js}" type="text/javascript"></script>
    <script th:src="@{js/acejs/ext-language_tools.js}" type="text/javascript"></script>
    <script th:src="@{js/hfselect.js}" type="text/javascript"></script>

    <script>hljs.initHighlightingOnLoad();</script>

    <script th:src="@{js/index.js}" type="text/javascript"></script>

</footer>
</html>