<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>H &amp; F</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/header.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{font-awesome-4.6.3/css/font-awesome.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{js/highlightjs/default.css}" rel="stylesheet" type="text/css"/>

    <script th:src="@{js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{bootstrap-3.3.7/js/bootstrap.js}" type="text/javascript"></script>

</head>

<div th:fragment="header" style="display: inline-block">
    <div class="hf-logo" >
        <div id="Mushroom1">
            <div class="head">
                <div class="dots">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                    <div class="dot3"></div>
                    <div class="dot4"></div>
                </div>
            </div>
            <div class="foot">
            </div>
            <div class="shadow"></div>
        </div>
        <div id="Mushroom2">
            <div class="head">
                <div class="dots">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                    <div class="dot3"></div>
                </div>
            </div>
            <div class="foot">
            </div>
            <div class="shadow"></div>
        </div>
    </div>
    <div class="hf-title">
        <span class="hf-color-h">H</span> &amp; <span class="hf-color-f">F</span>
    </div>
</div>

</html>