<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<header>

    <div class="hf-header">
        <div class="hf-title">
            <span class="hf-color-h">H</span> &amp; <span class="hf-color-f">F</span>
        </div>
        <div class="hf-user">
            <!--判断当前user存在吗 不存在显示登录-->
            <a id="login" th:href="@{login.html}" >登录</a>
            <!--<span>&nbsp;|&nbsp;</span>-->
            <!--<a id="register" th:href="">注册</a>-->
        </div>
    </div>

</header>
</html>