
.logo-wrapper {
    width: 300px;
    overflow: hidden;
    position: relative;
    float: left;
}

.hf-header
 {
    top: 0px;
    position: fixed;
    width: 100%;
    text-decoration: none;
    height: 70px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.8);
}

.hf-header.not-home  .hf-user a{
   color: #E6EBE0 !important;
}

.hf-header.not-home  .hf-user a:hover{
    color: white  !important;
}

.hf-title{
    display: inline-block;
    font-size: 24px;
    height: 70px;
    line-height: 70px;
    margin-left: 10px;
    position: relative;
    float: left;
}

@media screen and (max-width: 960px)  {

    .hf-nav{
        list-style: none;
        display: inline-block;
        height: 65px;
        line-height: 65px;
        font-size: 0;
        position: fixed;
        top: 70px;
        left: 30px;
        padding: 0px;
        border-top: 1px solid #ececec;
        z-index: 10;
    }

    .hf-nav .hf-item>a{
        padding: 0px 30px;
        height: 65px;
    }

    .hf-nav li.hf-item.active a {
        font-size: 18px;
    }

    .hf-nav span.li-bottom {
        display: none;
    }

}

@media screen and (min-width: 960px) {
    /**
     nav
    */
    .hf-nav{
        list-style: none;
        display: inline-block;
        height: 70px;
        line-height: 70px;
        font-size: 0;
        position: relative;
        padding: 0px;
        float: left;
    }
    .hf-nav .hf-item>a{
        padding: 0px 30px;
        height: 70px;
    }

    .hf-nav li.hf-item.active a {
        font-size: 18px;
    }

    .hf-nav span.li-bottom {
        position: absolute;
        bottom: -1px;
        left: 0px;
        width: 100px;
        height: 3px;
        background: #ED6A5A;
    }

    .hf-header .head-animate{
        content: '';
        display: block;
        width: 0;
        height: 125%;
        position: absolute;
        bottom: -5px;
        right: 0;
        z-index: -1;
        background-color: #ED6A5A;
        display: none;
    }

}

