body{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font:  16px "Comic Sans MS", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #000;
}

.hf-container{
    padding: 50px 200px;
    height: 100%;
    text-align: center;
}
/*.container{
    display: block;
    padding: 50px 200px;
    height: auto !important;
    height: 500px;
    min-height: 500px;
}*/
ul.hf-reversal{
    list-style: none;
    width: 600px;
    text-align: center;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}



.hf-reversal .hf-item{
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}


.hf-reversal .hf-item img{
    position: relative;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 2px;
}

.hf-reversal .hf-item .hf-cover{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    display: none;
    border: 1px solid transparent;
    border-radius: 2px;

}

.f-color{
    color: white;
    background-color: rgba(0, 146, 192, 0.7);
}

.h-color{
    color: white;
    background-color: rgba(242,156,177,0.7);
}


.hf-reversal .hf-item .hf-cover.hf-hover{
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
}


.hf-user{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    float: right;
    margin-right: 30px;
}
.hf-user a{
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: #8e8e8e;
}

.hf-user a:focus,.hf-user a:hover{
    text-decoration: none;
    color:rgba(0, 146, 192, 0.7) !important;
}
.hf-user .dropdown-menu>li>a:focus,.hf-user .dropdown-menu>li>a:hover{
    text-decoration: none;
    color:rgba(0, 146, 192, 0.7) !important;
    background: #fff !important;
}

.hf-user .dropdown-menu::before{
    position: absolute;
    top: -7px;
    left: 10px;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ececec;
    border-left: 7px solid transparent;
    content: '';
}
.hf-user .dropdown-menu::after{
    position: absolute;
    top: -6px;
    left: 11px;
    display: inline-block!important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

.hf-user .dropdown-menu{
    position: absolute;
    top: 60px;
    left: 0px;
    border: 1px solid #ececec;
    padding: 0px;
    min-width: 100px;
}

.hf-user .dropdown-menu li a{
    display: block;
    text-align: center;
    margin: 0!important;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 14px;
    color:#8e8e8e !important;
    position:relative;
    border:none;
    text-decoration:none;
}

/**
  nav
 */
.hf-nav{
    list-style: none;
    display: inline-block;
    height: 80px;
    margin: 0px 50px;
    line-height: 80px;
    font-size: 0;
    position: relative;
    padding: 0px;
}

.hf-nav .hf-item{
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

.hf-nav .hf-item>a{
    text-decoration: none;
    color: #8e8e8e;
    padding: 0px 30px;
    display: block;
    height: 80px;
}

.hf-nav li.hf-item.active a {
    font-size: 18px;
    color: #000 !important;
}

.hf-nav li.hf-item:hover>a{
    color: rgba(0, 146, 192, 0.7);
}

.hf-nav span.li-bottom {
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100px;
    height: 3px;
    background: rgba(0, 146, 192, 0.7);
}


.bottom-spread-in-out:before,.bottom-spread-in-out:after,.bottom-spread-in-out>.ui-border-element:before,.bottom-spread-in-out>.ui-border-element:after {
    content:'';
    position:absolute
}
.bottom-spread-in-out:after {
    border-bottom:1px solid rgba(0, 146, 192, 0.7);
    left:51%;
    right:51%;
    bottom:0px;
    -webkit-transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    transition-property:all;
    -webkit-transition-timing-function:cubic-bezier(0, 0.98, 0.51, 0.93);
    -moz-transition-timing-function:cubic-bezier(0, 0.98, 0.51, 0.93);
    -o-transition-timing-function:cubic-bezier(0, 0.98, 0.51, 0.93);
    transition-timing-function:cubic-bezier(0, 0.98, 0.51, 0.93);
    -webkit-transition-duration:200ms;
    -moz-transition-duration:200ms;
    -o-transition-duration:200ms;
    transition-duration:200ms;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s
}
.bottom-spread-in-out:hover:after {
    left:0%;
    right:0%
}
.bottom-spread-in-out:not(:hover):after {
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s
}