body{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font:  16px "Comic Sans MS", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #000;
}

.hf-container{
    padding: 50px 200px;
    height: 100%;
    text-align: center;
}
/*.container{
    display: block;
    padding: 50px 200px;
    height: auto !important;
    height: 500px;
    min-height: 500px;
}*/
ul.hf-reversal{
    list-style: none;
    width: 600px;
    text-align: center;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}



.hf-reversal .hf-item{
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}


.hf-reversal .hf-item img{
    position: relative;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 2px;
}

.hf-reversal .hf-item .hf-cover{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    display: none;
    border: 1px solid transparent;
    border-radius: 2px;

}

.f-color{
    color: white;
    background-color: rgba(0, 146, 192, 0.7);
}

.h-color{
    color: white;
    background-color: rgba(242,156,177,0.7);
}


.hf-reversal .hf-item .hf-cover.hf-hover{
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
}


.hf-user{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    float: right;
    margin-right: 30px;
}

#login,#register{
    cursor: pointer;
    text-decoration: none;
    color: #8e8e8e;

}
#login:hover{
    color: #000;
}
/**
  nav
 */
.hf-nav{
    list-style: none;
    display: inline-block;
    height: 80px;
    margin: 0px 50px;
    line-height: 80px;
    font-size: 0;
}

.hf-nav .hf-item{
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

.hf-nav .hf-item>a{
    text-decoration: none;
    color: #8e8e8e;
    padding: 0px 30px;
    display: block;
    height: 80px;
}

.hf-nav li.hf-item.active a {
    font-size: 18px;
    color: #000 !important;
}

.hf-nav li.hf-item.active {
    border-bottom:3px solid rgba(0, 146, 192, 0.7) !important;
}

.hf-nav li.hf-item:hover>a{
    color: rgba(0, 146, 192, 0.7);
}

