body{
    text-align: center;
    font: 14px  "Comic Sans MS", Times, serif;
    text-decoration: none;
}

.user-login{
    text-align: center;
    box-shadow: 3px 3px 5px #ececec;
    border: 1px solid #ececec;
    padding: 30px;
    width: 300px;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



