#borderAndTransparent{
    background-image: url(../images/test.png);
    width: 70px;
    height: 60px;
    line-height:60px;
    text-align: center;
}

#borderAndTransparent .text{
    border:10px solid hsla(0,0%,100%,.5);
    background: white;
    background-clip:padding-box;
    width: 50px;
    height: 40px;
}
<!--熟悉rgba和hsla颜色-->