<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<div class="hf-content" th:fragment="about" >
    <!--关于我们和相关技术-->
    <div class="about">
        <img class="avatar" th:src="@{images/avatar.png}"/>
        <div class="about-content">
            <div class="author-name">老冯</div>
        </div>
    </div>

    <div class="about">
        <img class="avatar" th:src="@{images/avatar.png}"/>
        <div class="about-content">
            <div class="author-name">H</div>
        </div>
    </div>
</div>
</html>