<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<div class="hf-content" th:fragment="home">

    <div class="container">
        <ul id="homeTab" class="hf-tab">
            <li class="hf-item active">
                <a href="#hot" class="bottom-spread-in-out" data-toggle="tab">最热文章</a>
            </li>
            <li class="hf-item">
                <a href="#new" class="bottom-spread-in-out" data-toggle="tab">最新文章</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active"  id="hot">
                <img class="homebg" th:src="@{images/homebg.png}"/>

                <div class="show-content">
                    <!--aaa 最热最热aaa 最热最热aaa 最热最热
                    aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热
                    aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热
                    aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热
                    aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热
                    aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热
                    aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热
                    aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热
                    aaa 最热最热aaa 最热最热aaa 最热最热aaa 最热最热-->
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="new">
                <img class="homebg" th:src="@{images/homebg2.png}"/>
                <div class="show-content">
                    <!--bbb 最新最新 bbb 最新最新 bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新
                    bbb 最新最新bbb 最新最新bbb 最新最新bbb 最新最新-->
                </div>
            </div>
        </div>
    </div>

</div>
</html>