<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<div class="hf-content" th:fragment="home" >
    <ul class="hf-reversal">
        <li class="hf-item">
            <img th:src="@{images/icon/java.png}"/>
            <div class="hf-cover f-color">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/icon/java.png}"/>
            <div class="hf-cover f-color">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/icon/java.png}"/>
            <div class="hf-cover f-color">

            </div>
        </li>

        <li class="hf-item">
            <img th:src="@{images/icon/java.png}"/>
            <div class="hf-cover f-color">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/icon/java.png}"/>
            <div class="hf-cover f-color">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/icon/java.png}"/>
            <div class="hf-cover h-color">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/icon/java.png}"/>
            <div class="hf-cover h-color">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/icon/java.png}"/>
            <div class="hf-cover h-color">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/icon/java.png}"/>
            <div class="hf-cover h-color">

            </div>
        </li>
    </ul>
    <script type="text/javascript" th:inline="javascript">
        initImgCover();
    </script>
</div>
</html>