<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>H &amp; F</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/header.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
   <header th:replace="common/header :: header"></header>
   <div class="hf-container">
       <div class="hf-content">
           <ul class="hf-reversal">
               <li class="hf-item">
                   <img th:src="@{images/icon/java.png}"/>
                   <div class="hf-cover right f-color">

                   </div>
               </li>
               <li class="hf-item">
                   <img th:src="@{images/icon/java.png}"/>
                   <div class="hf-cover left f-color">

                   </div>
               </li>
               <li class="hf-item">
                   <img th:src="@{images/icon/java.png}"/>
                   <div class="hf-cover top f-color">

                   </div>
               </li>
               <li class="hf-item">
                   <img th:src="@{images/icon/java.png}"/>
                   <div class="hf-cover bottom f-color">

                   </div>
               </li>
               <li class="hf-item">
               </li>
               <li class="hf-item">
                   <img th:src="@{images/icon/java.png}"/>
                   <div class="hf-cover left h-color">

                   </div>
               </li>
               <li class="hf-item">
                   <img th:src="@{images/icon/java.png}"/>
                   <div class="hf-cover top h-color">

                   </div>
               </li>
               <li class="hf-item">
                   <img th:src="@{images/icon/java.png}"/>
                   <div class="hf-cover bottom h-color">

                   </div>
               </li>
               <li class="hf-item">
                   <img th:src="@{images/icon/java.png}"/>
                   <div class="hf-cover right h-color">

                   </div>
               </li>
           </ul>
       </div>
   </div>
</body>
</html>