<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="preview" id="preview" class="preview"></div>
<div th:fragment="editor" id="editor" class="editor"></div>
<div th:fragment="toolbar" id="toolbar">
    <span class="editor-icon-group">
        <span class="editor-icon-title"><i class="fa fa-header" aria-hidden="true"></i></span>
        <span class="editor-icon" name = "h1">H1</span>
        <span class="editor-icon" name = "h2">H2</span>
        <span class="editor-icon" name = "h3">H3</span>
        <span class="editor-icon" name = "h4">H4</span>
    </span>
    <span class="editor-icon-group">
         <!--粗体-->
         <span class="editor-icon" name="bold"><i class="fa fa-bold" aria-hidden="true"></i></span>
        <!--斜体-->
         <span class="editor-icon" name="italic"><i class="fa fa-italic" aria-hidden="true"></i></span>
        <!--删除线-->
         <span class="editor-icon" name="strikethrough"><i class="fa fa-strikethrough" aria-hidden="true"></i></span>
    </span>


    <span class="editor-icon-group">

          <!--引用-->
          <span class="editor-icon" name="quote-right"><i class="fa fa-fw fa-quote-right" aria-hidden="true"></i></span>

         <span class="editor-icon" name="code"><i class="fa fa-code" aria-hidden="true"></i></span>

    </span>
    <span class="editor-icon-group">
         <!--列表-->
         <span class="editor-icon" name="list-ol"><i class="fa fa-list-ol" aria-hidden="true"></i></span>
        <span class="editor-icon" name="list-ul"><i class="fa fa-list-ul" aria-hidden="true"></i></span>

        <!--分隔符-->
        <span class="editor-icon" name="separate"><i class="fa fa-minus" aria-hidden="true"></i></span>

    </span>
    <span class="editor-icon-group">
        <!--保存-->
        <span class="editor-icon" onclick="publishArticle();"><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
        <!--发布-->
        <span class="editor-icon"><i class="fa fa-share" aria-hidden="true"></i></span>
    </span>
</div>
<div th:fragment="articleTitle" id="articleTitle">
  <!--  <span class="hf-label">标题</span>-->
    <input type="text" class="hf-input" placeholder="请输入文章标题"/>
</div>
<div th:fragment="articleTag" id="articleTag">
    <!--combobox-->
    <!--class="" multiple="multiple" size="4"-->
    <select class="hf-select">
        <optgroup class="hf-group" label="后端">
            <option class="hf-tag f-color">java</option>
            <option class="hf-tag f-color">mysql</option>
        </optgroup>
        <optgroup class="hf-group" label="前端">
            <option class="hf-tag h-color">js</option>
            <option class="hf-tag h-color">jquery</option>
            <option class="hf-tag h-color">css</option>
            <option class="hf-tag h-color">nodejs</option>
            <option class="hf-tag h-color">react</option>
            <option class="hf-tag h-color">vue</option>
            <option class="hf-tag h-color">angularjs</option>
        </optgroup>
        <optgroup  class="hf-group" label="其他">
            <option class="hf-tag f-color">kendoui</option>
            <option class="hf-tag f-color">微信小程序</option>
            <option class="hf-tag f-color">jquery</option>
            <option class="hf-tag f-color">framemaker</option>
            <option class="hf-tag f-color">thyemeleaf</option>
        </optgroup>
    </select>
</div>
<div th:fragment="publish" class="hf-content">
    <ul id="publishTab" class="hf-tab">
        <li class="hf-item active">
            <a href="#writeTab" class="bottom-spread-in-out" data-toggle="tab">编写</a>
        </li>
        <li class="hf-item" id="previewBtn">
            <a  href="#previewTab" class="bottom-spread-in-out" data-toggle="tab">预览</a>
        </li>
    </ul>
    <div id="editor-wrapper">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active"  id="writeTab">
                <div th:replace="publish :: articleTitle"></div>
                <div th:replace="publish :: articleTag"></div>
                <div style="border: 1px solid #ececec">
                    <div th:replace="publish :: toolbar"></div>
                    <div th:replace="publish :: editor"></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane"  id="previewTab">
                <div th:replace="publish :: preview"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

</script>
</html>