<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<div class="hf-content" th:fragment="search" >
    <div id="showSearch" class="active">
        <div class="hf-search">
        <input class="hf-input" placeholder="请输入文章名称或标签"/>
        <span class="search-btn hf-btn"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
        <ul class="hf-reversal">
        <li class="hf-item" onclick="showEffect('showCss')">
            <img th:src="@{images/reversal/1.png}"/>
            <div class="hf-cover">
                Css效果展示
            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/reversal/2.png}"/>
            <div class="hf-cover">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/reversal/3.png}"/>
            <div class="hf-cover">

            </div>
        </li>

        <li class="hf-item">
            <img th:src="@{images/reversal/4.png}"/>
            <div class="hf-cover">

            </div>
        </li>
            <li class="hf-item">
                <img th:src="@{images/reversal/5.png}"/>
                <div class="hf-cover">

                </div>
            </li>
        <li class="hf-item">
            <img th:src="@{images/reversal/6.png}"/>
            <div class="hf-cover">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/reversal/7.png}"/>
            <div class="hf-cover">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/reversal/8.png}"/>
            <div class="hf-cover">

            </div>
        </li>
        <li class="hf-item">
            <img th:src="@{images/reversal/9.png}"/>
            <div class="hf-cover">
            </div>
        </li>
    </ul>
    </div>
    <div id="showCss" style="display: none" th:include="showEffect :: showCss">
    </div>
</div>
</html>