<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<li th:fragment="showCss" id="showCss">
    <div class="return-top">
        <span>返回顶部</span>
    </div>
    <div style="margin-bottom: 30px;">
        <span class="levels" onclick="showEffect('showSearch')">查询界面</span>
        <span class="hf-text">/Css效果展示界面</span>
    </div>
    <h3 class="module-name"><span> 背景与边框 </span></h3>
    <ul class="effect-modules">
        <li class="effect-module">
            <div class="effect-content">
                <div class="effect-show">
                    <div id="borderAndTransparent">
                        <div class="text">
                            <span>Can I haz semi-transparent borders? Pretty please?</span>
                        </div>
                    </div>
                </div>
                <div class="effect-title">半透明边框</div>
            </div>
        </li>
        <li class="effect-module">
            <div class="effect-content">
                <div class="effect-show">
                        <div id="Mushroom1">
                            <div class="head">
                                <div class="dots">
                                    <div class="dot1"></div>
                                    <div class="dot2"></div>
                                    <div class="dot3"></div>
                                    <div class="dot4"></div>
                                </div>
                            </div>
                            <div class="foot">
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div id="Mushroom2">
                            <div class="head">
                                <div class="dots">
                                    <div class="dot1"></div>
                                    <div class="dot2"></div>
                                    <div class="dot3"></div>
                                </div>
                            </div>
                            <div class="foot">
                            </div>
                            <div class="shadow"></div>
                        </div>
                    </div>
                <div class="effect-title">绘画-蘑菇</div>
            </div>
        </li>
        <li class="effect-module">
            <div class="effect-content">
                <div class="effect-show">
                    <div id="borderAndTransparent">
                        <div class="text">
                            <span>Can I haz semi-transparent borders? Pretty please?</span>
                        </div>
                    </div>
                </div>
                <div class="effect-title">多重边框</div>
            </div>
        </li>
        <li class="effect-module">
            <div class="effect-content">
                <div class="effect-show">
                    <div id="borderAndTransparent">
                        <div class="text">
                            <span>Can I haz semi-transparent borders? Pretty please?</span>
                        </div>
                    </div>
                </div>
                <div class="effect-title">半透明边框</div>
            </div>
        </li>
        <li class="effect-module">
        <div class="effect-content">
            <div class="effect-show">
                <div id="borderAndTransparent">
                    <div class="text">
                        <span>Can I haz semi-transparent borders? Pretty please?</span>
                    </div>
                </div>
            </div>
            <div class="effect-title">半透明边框</div>
        </div>
    </li>
        <li class="effect-module">
            <div class="effect-content">
                <div class="effect-show">
                    <div id="borderAndTransparent">
                        <div class="text">
                            <span>Can I haz semi-transparent borders? Pretty please?</span>
                        </div>
                    </div>
                </div>
                <div class="effect-title">半透明边框</div>
            </div>
        </li>

    </ul>

</div>

</html>