<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hf.dao.DatabasechangeloglockMapper" >
  <resultMap id="BaseResultMap" type="com.hf.dto.Databasechangeloglock" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="LOCKED" property="locked" jdbcType="BIT" />
    <result column="LOCKGRANTED" property="lockgranted" jdbcType="TIMESTAMP" />
    <result column="LOCKEDBY" property="lockedby" jdbcType="VARCHAR" />
  </resultMap>
</mapper>