<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hf.dao.DatabasechangelogMapper" >
  <resultMap id="BaseResultMap" type="com.hf.dto.Databasechangelog" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="FILENAME" property="filename" jdbcType="VARCHAR" />
    <result column="DATEEXECUTED" property="dateexecuted" jdbcType="TIMESTAMP" />
    <result column="ORDEREXECUTED" property="orderexecuted" jdbcType="INTEGER" />
    <result column="EXECTYPE" property="exectype" jdbcType="VARCHAR" />
    <result column="MD5SUM" property="md5sum" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
    <result column="TAG" property="tag" jdbcType="VARCHAR" />
    <result column="LIQUIBASE" property="liquibase" jdbcType="VARCHAR" />
    <result column="CONTEXTS" property="contexts" jdbcType="VARCHAR" />
    <result column="LABELS" property="labels" jdbcType="VARCHAR" />
    <result column="DEPLOYMENT_ID" property="deploymentId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>